.payment-section-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.payment-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
  flex-shrink: 0;
}

.payment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.payment-section-item-payment-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.payment-section-item-memo-container {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
