.header-cell {
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cell {
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
  text-align: start;
}
