:root {
  --Gray-Scale-Achromatic-White: #ffffff;
  --Gray-Scale-Cool-Gray-150: #ebf1f7;
  --Gray-Scale-Cool-Gray-200: #e3e9ef;
  --Gray-Scale-Cool-Gray-300: #d1d5db;
  --Gray-Scale-Cool-Gray-700: #69727a;
  --Gray-Scale-Cool-Gray-100: #e3e9ef;
  --Gray-Scale-Achromatic-Black: #24232e;

  --Brand-Color-Monolis-Blue-100: #eeedff;
  --Brand-Color-Monolis-Blue-Blue: #5550ff;

  --Primary-Color-Blue: #3e63dd;
  --Destructive-Color-Red: #ef4444;
}
