.payment-breakdown-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  flex-direction: column;
  display: flex;
  border: 1px solid var(--Gray-Scale-Cool-Gray-200);
}

.payment-breakdown-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--Gray-Scale-Cool-Gray-150);
  border-bottom: 1px solid var(--Gray-Scale-Cool-Gray-200);
}

.payment-breakdown-table-header-item {
  flex: 0 0 120px;
}

.payment-breakdown-table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-breakdown-table-body-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.payment-breakdown-table-body-item-item {
  flex: 0 0 120px;
}

.payment-breakdown-table-body-subtotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border-top: 1px solid var(--Gray-Scale-Cool-Gray-200);
  background-color: var(--Gray-Scale-Cool-Gray-150);
  gap: 0;
}

.payment-breakdown-table-footer-spacer {
  flex: 0 0 120px;
}

.payment-breakdown-table-footer-label {
  flex: 0 0 120px;
  font-weight: 700;
  text-align: left;
}

.payment-breakdown-table-footer-value {
  flex: 0 0 120px;
  font-weight: 700;
  text-align: right;
  justify-content: flex-end;
}

.payment-breakdown-table-body-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
}
