.select-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.select {
  width: 100%;
  height: 32px;
  padding: 0 0.75rem;
  padding-right: 2rem;
  border: 1px solid var(--Gray-Scale-Cool-Gray-200, #e3e9ef);
  border-radius: 0.375rem;
  background-color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--Gray-Scale-Cool-Gray-700);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23666' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border-color: var(--primary, #3e63dd);
  box-shadow: 0 0 0 1px var(--primary, #3e63dd);
}

.select option {
  color: var(--Gray-Scale-Cool-Gray-700);
}

.select option:disabled {
  color: var(--Gray-Scale-Cool-Gray-400);
}
