.table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--Gray-Scale-Cool-Gray-150);
  width: 100%;
}

.table-ordered-section-header {
  display: flex;
  flex-direction: column;
  min-width: 1152px; /* 8 columns * 144px */
}

.table-section-header {
  padding: 16px;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.ordered-header {
  background-color: var(--Gray-Scale-Cool-Gray-150);
}

.table-payment-info {
  display: flex;
  flex-direction: column;
  background-color: var(--Gray-Scale-Cool-Gray-100, #f5f7fa);
  padding: 8px;
  gap: 4px;
  width: 100%;
  min-height: 120px;
}
